@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --main-background-color: #1e1e2e;
    --main-console-color: #cdd6f4;
    --main-social-color: #89b4fa;
    --main-helptitle-color: #fab387;
    --main-command-color: #f9e2af;
    --main-answer-color: #a6e3a1;
    --main-explain-color: #f38ba8;
    --main-divider-color: #ffe5d9;
    --main-username-color: #98c379;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-background-color);
    font-family: "Courier Prime", serif;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--main-console-color);
    font-size: 1rem;
    display: block;
    line-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

.typing {
    animation: typing 1s forwards;
}

.user-text {
    display: flex;
    /* gap: 5px; */
}

.username {
    color: var(--main-username-color);
}

.divider {
    color: var(--main-divider-color);
}

.command {
    color: var(--main-command-color);
}

.command,
.explain {
    display: inline-block;
}

.onlytext {
    color: var(--main-answer-color);
    font-size: 0.8rem;
}

.console {
    color: var(--main-answer-color);
    font-size: 1rem;
}

.text {
    color: var(--main-command-color);
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    background: none;
    border: none;
    color: var(--main-command-color);
    font-size: 1rem;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-family: "Courier Prime", serif;
}

input[type=text]:focus {
    outline: none;
}


.social {
    color: var(--main-social-color);
    text-decoration: underline;
    cursor: pointer;
}

.title {
    color: var(--main-helptitle-color);
    font-size: 1rem;
}

.explain {
    color: var(--main-explain-color);
    width: 100px;
    font-style: italic;
    font-family: "JetBrains Mono", serif;
    font-size: 0.8rem;
}

.info {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.skills {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.imgdefault {
    width: auto;
    height: 380px;
    border: 2px solid var(--main-console-color);
    animation: imgAnimation 2s forwards;
}

.imgborderless {
    width: auto;
    height: 380px;
    border: none;
}

.imgmanga {
    width: auto;
    height: 600px;
    border: 2px solid var(--main-console-color);
    animation: imgAnimation 2s forwards;
}

.ascii {
    line-height: 17px;
    letter-spacing: -0.5px;
    color: var(--main-console-color);

}

@keyframes imgAnimation {
    from {
        transform: translate3d(-1000px, 0, 0);

    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (max-width: 700px) {

    body {
        background: var(--main-background-color);
        font-family: "Courier Prime", serif;
        margin: 5px 10px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .console {
        color: var(--main-command-color);
        font-size: 0.75rem;
    }

    .explain {
        width: 100px;
        font-size: 0.75rem;
    }

    .imgdefault {
        height: 180px;
    }

    .imgmanga {
        width: auto;
        height: 180px;
    }

    .imgborderless {
        height: 180px;
        border: none;
    }

    p {
        overflow: visible;
        white-space: wrap;
        font-size: 0.75rem;
    }

    .user {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input[type=text] {
        width: 30%;
        border: 1px solid var(--main-console-color);
        font-size: 0.75rem;
        line-height: 2em;
        letter-spacing: 0.05em;
        font-family: "Courier Prime", serif;
    }

    input[type=text]:focus {
        outline: auto;
    }
}