@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --main-background-color: #211d1b;
    --main-console-color: #98c379;
    --main-social-color: #F95;
    --main-helptitle-color: #e5c07b;
    --main-command-color: #61afef;
    --main-answer-color: #ffe5d9;
    --main-explain-color: #808080;
    --main-divider-color: #ffe5d9;
    --main-username-color: #98c379;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    font-family: "Courier Prime", serif;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--main-console-color);
    font-size: 1rem;
    display: block;
    line-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

.typing {
    animation: typing 1s forwards;
}

.user-text {
    display: flex;
    /* gap: 5px; */
}

.blinker {
    margin-top: 4.5px;
    background-color: var(--main-console-color);
    width: 10px;
    height: 20px;
    display: block;
    animation: blinker 1s linear infinite;
}

.username {
    color: var(--main-username-color);
}

.divider {
    color: var(--main-divider-color);
}

.command {
    color: var(--main-command-color);
}

.console {
    color: var(--main-answer-color);
    font-size: 1rem;
}

.text {
    color: var(--main-command-color);
}

.social {
    color: var(--main-social-color);
    text-decoration: underline;
    cursor: pointer;
}

.title {
    color: var(--main-helptitle-color);
    font-size: 1rem;
}

.explain {
    color: var(--main-explain-color);
    width: 100px;
    font-style: italic;
    font-family: "JetBrains Mono", serif;
    font-size: 0.8rem;
}

.info {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.command,
.explain {
    display: inline-block;
}

.imgdefault {
    width: auto;
    height: 380px;
    border: 2px solid var(--main-console-color);
    animation: imgAnimation 2s forwards;
}

.ascii {
    line-height: 20px;
    color: var(--main-console-color);

}

@keyframes imgAnimation {
    from {
        transform: translate3d(-1000px, 0, 0);

    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#campoTexto {
    display: none;
}

@media (max-width: 700px) {
    #campoTexto {
        padding: 10px;
        width: 150px;
        height: 10px;
        display: initial;
        opacity: 1;
        border: none;
        border-radius: 5px;
        border: 5px solid var(--main-answer-color);
        caret-color: transparent;
    }

    #campoTexto:focus {
        border: 5px solid var(--main-console-color);
        outline: none;
    }


    body {
        background-color: var(--main-background-color);
        font-family: "Courier Prime", serif;
        margin: 5px 10px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .console {
        color: var(--main-command-color);
        font-size: 0.75rem;
    }

    .explain {
        width: 100px;
        font-size: 0.75rem;
    }


    .imgdefault {
        width: 300px;
    }

    p {
        overflow: visible;
        white-space: wrap;
        font-size: 0.75rem;
    }

    .blinker {
        background-color: var(--main-console-color);
        width: 5px;
        height: 10px;
        display: block;
        animation: blinker 1s linear infinite;
    }

    .user {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}